{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}
{% block title %}NLP APP{% endblock %}

{% block body %}
<h1 style="margin: auto auto auto auto; text-align:center;">NLP APP</h1>
<form name="mainForm" id="mainForm">
    <fieldset>
    <legend>Enter information:</legend>
    <div class="form-group">
        <label for="FormControlFromDate">From date</label>
        <input type="date" class="form-control" name="FromDate" id="FormControlFromDate" value="2017-09-01">
    </div>

    <div class="form-group">
        <label for="FormControlToDate">To date</label>
        <input type="date" class="form-control" name="ToDate" id="FormControlToDate" value="2017-09-01">
    </div>

    <div class="form-group">
        <label for="FormControlRadius">Radius</label>
        <input type="number" class="form-control" name="Radius" id="FormControlRadius" value="10">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </fieldset>
</form>
<div id="mapid"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<!--<h1 class="important">Template Index</h1>-->
<!--<button type="button" class="btn" id="test">Basic</button>-->
{% endblock %}